<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/assets/css/main.css" />

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
</head>

<body class="is-preload">
<div id="main">
    <form th:action="@{/LOLRecord/ReportBoard/One}"  method="post">
        <label>신고 게시글 작성 </label>
        <label>작성자</label>
        <input type="text"  id="USER_ID" name="USER_ID" th:value="${user_id}" />
        <label>제목</label>
        <input type="text"  id="TITLE" name="TITLE" />
        <label>내용</label>
        <textarea type="text"  id="CONTENTS" name="CONTENTS" ></textarea>
        <label>신고할 닉네임</label>
        <input type="text"  id="RPT_NICK" name="RPT_NICK" />
        <block th:if ="${result != null}">
            <block th:if ="${result == -1}">
                <p>롤 닉네임이 존재하지 않습니다.</p>
            </block>
        </block>
        <input type="submit" value="등록">
    </form>
</div>
</body>
</html>

<script>
function selectOne() {
    $("#board tr").click(function(){
        var tr = $(this);
        var td = tr.children();
        var no = parseInt(td.eq(0).text());
        var url = '/LOLRecord/ReportBoard/One/'+no;
        location.href=url;


    });
}
</script>