<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/assets/css/main.css" />

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
</head>

<body class="is-preload">
<div id="main">
    <form th:action="@{/LOLRecord/ReportBoard/One/{id}(id=${result.BOARD_ID})}" th:object="${result}" method="post">
        <label>신고 게시글 상세 조회 </label>
        <label>게시글 번호</label>
        <input type="text"  id="BOARD_ID" th:field="*{BOARD_ID}" readonly/>
        <label>작성자</label>
        <input type="text"  id="USER_ID" th:field="*{USER_ID}" readonly/>
        <label>제목</label>
        <input type="text"  id="TITLE" th:field="${result.TITLE}" />
        <label>내용</label>
        <textarea type="text"  id="CONTENTS" th:field="${result.CONTENTS}" />
        <label>작성일자</label>
        <input type="date"  id="WRITE_DATE" th:field="${result.WRITE_DATE}" readonly/>
        <label>신고할 닉네임</label>
        <input type="text"  id="RPT_NICK" th:field="${result.RPT_NICK}" />
        <label>조회수</label>
        <input type="text"  id="VIEW" th:field="${result.VIEW}" readonly/>
        <label>추천수</label>
        <input type="text"  id="GOOD" th:field="${result.GOOD}" readonly/>
        <button type="submit" data-oper="modify" class="btn btn-default" />수정</button>
        <button type="submit" data-oper="remove" class="btn btn-default" >삭제</button>
        <button type="submit" data-oper="list" class="btn btn-default" >목록</button>
    </form>
</div>
</body>
</html>
<script>
	$(document).ready(function() {
		var formObj = $("form");
		$('button').on("click", function(e) { 		//모든 button태그에 대한 클릭 이벤트 처리
			e.preventDefault(); 			//버튼의 기본 submit() 동작 막기
			var operation = $(this).data("oper");	//data-oper 값 읽어오기
			console.log(operation);

			if (operation === 'remove') {
				if (confirm("게시글을 삭제하시겠습니까?") == true) {
					alert("게시글이 삭제되었습니다.");
					formObj.attr("action", "/LOLRecord/ReportBoard/remove");
				} else {
					return false;
				}
			} else if (operation === 'list') {
				//move to list
				formObj.attr("action", "/LOLRecord/ReportBoard/List").attr("method", "get");	//삭제인 경우 action값을 변경
				formObj.empty(); //list페이지로 이동시에는 form 데이터가 필요없으므로 내용을 비움
			} else {
				alert("게시글이 수정되었습니다.");
			}
			formObj.submit();
		})
	})
</script>