<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.lolRecord.lr.rb.mapper.RBMapper">

    <select id="selectOne" parameterType="int" resultType="hello.lolRecord.lr.rb.dto.RBSelectOneDTO">
        SELECT
            BOARD_ID
            ,TITLE
            ,WRITER
            ,CONTENTS
            ,WRITE_DATE
            ,RPT_NICK
            ,VIEW
        FROM REPORT_BOARD
        WHERE 1=1
            AND BOARD_ID = #{BOARD_ID}
    </select>

    <insert id="insert" parameterType="hello.lolRecord.lr.rb.dto.RBInUpDTO">
        INSERT INTO REPORT_BOARD(
            USER_NO
            ,TITLE
            ,WRITER
            ,CONTENTS
            ,WRITE_DATE
            ,RPT_NICK
            ,VIEW)
        values(
            #{USER_NO}
            ,#{TITLE}
            ,#{WRITER}
            ,#{CONTENTS}
            ,now()
            ,#{RPT_NICK}
            ,0)

    </insert>

    <select id="selectList" resultType="hello.lolRecord.lr.rb.dto.RBSelectListDTO">
        SELECT
            BOARD_ID
            ,TITLE
            ,WRITER
            ,WRITE_DATE
            ,VIEW
        FROM REPORT_BOARD
        WHERE 1=1
    </select>

    <update id="update" parameterType="hello.lolRecord.lr.rb.dto.RBInUpDTO">
        UPDATE REPORT_BOARD
        SET TITLE = #{TITLE}
            ,CONTENTS = #{CONTENTS}
            ,WRITE_DATE = now()
        WHERE 1=1
            AND BOARD_ID = #{BOARD_ID}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM REPORT_BOARD
        WHERE 1=1
            AND BOARD_ID = #{BOARD_ID}

    </delete>

    <update id="updateViewCnt" parameterType="int">
        UPDATE REPORT_BOARD
        SET VIEW = VIEW + 1
        WHERE 1=1
            AND BOARD_ID = #{BOARD_ID}

    </update>


</mapper>