<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/assets/css/main.css" />

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
</head>
<body class="is-preload">
        <div id="main">
            <div>
                <label>Home</label>
            </div>
            <block th:if ="${login}">
                <div class="col-6 col-12-xsmall">
                    <input class="button primary" type="button" onclick="lolSearchService()" value="롤 전적 검색">
                    <input class="button primary" type="button" onclick="RBService()" value="신고글 목록">
                    <input class="button primary" type="button" onclick="logout()" value="로그아웃">
                </div>
            </block>
            <block th:unless ="${login}">
                <div class="col-6 col-12-xsmall">
                    <input class="button primary" type="button" onclick="joinForm()" value="회원가입">
                    <input class="button primary" type="button" onclick="loginForm()" value="로그인">
                </div>
            </block>
        </div>
</body>
</html>
<script>
function loginForm() {
    location.href='/LOLRecord/lolUser/loginForm';
}
function joinForm() {
    location.href='/LOLRecord/lolUser/joinForm';
}
function lolSearchService() {
    location.href='/LOLRecord/search2';
}
function RBService() {
    location.href='/LOLRecord/ReportBoard/List';
}
function logout() {
    location.href='/LOLRecord/lolUser/logout';
}
</script>